/*reset*/

/* base    */

body{
    margin: 0px;
    padding: 0px;
    
}
a{
 text-decoration: none;   
 color: #FF681F;
}
a:hover{
    color: red;
}
header .splash{
    position: relative; 
    background: linear-gradient(rgba(23, 22, 23, 0.6), rgba(23, 22, 23, 0.6)), url(../../image/gbcpic/bg_header-home_v2.jpg) no-repeat top center fixed; margin-bottom: 2em; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover; padding-bottom: 3em; /* background-position: center -60px; */ 
    background: linear-gradient(rgba(23, 22, 23, 0.6), rgba(23, 22, 23, 0.6)), url(../../image/TES.JPG) no-repeat top center fixed; margin-bottom: 2em; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover; padding-bottom: 3em; /* background-position: center -60px; */     
}
.container{
    padding-left: 20px;
    padding-right: 20px;
}
.row {
/*    ini untuk spasi dari rownya yaitu */
    width: 100%;
    max-width: 1100px;
    min-width: 715px;
    margin: 0 auto;
    overflow: hidden;
}
.row .twocol {
    width: 13.45%;
}
.row .fourcol {
width: 30.75%;
}
.row .fivecol {
width: 39.45%;
}
.row .sixcol {
width: 48%;
}
.row .sevencol {
width: 56.75%;
}
.row .eightcol {
width: 65.4%;
}

.row .twelvecol {
width: 100%;
float: left;
}
small { font-size: 85%; }


.last {
margin-right: 0px;
}


.onecol, .twocol, .threecol, .fourcol, .fivecol, .sixcol, .sevencol, .eightcol, .ninecol, .tencol, .elevencol,.newcolom {
    margin-right: 3.8%;
    float: left;
    min-height: 1px;
}
/*overriding*/
.tencol{
    float:right;
}

/*navbar*/
.nav{
   font-family: sans-serif;
   font-size: 20px;
   color: white;
   padding: 20px;
   margin: 0 auto;
 
}
.nav ul{
    position: relative;
 
}
.nav ul li{
    display: inline-block;
    list-style: none;
    padding: 20px;

}
.nav ul li:hover{
    background-color: orange;
}
.nav ul li a{
    text-decoration: none;
    color: white;
}
.nav ul li a:hover{
    color: #eb5100;
}
.nav ul li:active{
    background:#fed22f ;
}
/*button style and styling submit button*/
a.button-link, button[type=submit]{ text-decoration: none;background: #FD661E; -webkit-border-radius: 3px; padding: .5em .9em; -webkit-transition: .2s ease-in-out all; text-transform: uppercase; border: none; color: #FFF; font-family: 'atrament-web', Helvetica, Arial, Verdana, sans-serif; color: #FFF; font-weight: 700; display: inline-block; font-style: normal; }
a.button-link:hover, button[type=submit]{ background: #171617; color: #F17142; text-decoration: none; }

/*header*/
header .intro { text-align: center; }
header .intro h1 { font-size: 4em; color: #fff; margin: 14px 0 20px 0%; line-height: 1.1em; /* text-shadow: 0 1px 4px #000000;*/ }
header .intro p { font-size: 1.4em; color: #fff; /* text-shadow: 0 1px 2px #000000;*/  line-height: 1.4em; font-weight: 300; margin: 0 0 1em 0;}
header .intro p em { font-weight: 700; }
header .intro a { margin: 20px auto 3em 0; }

/*header .intro { text-align: center; color:#FFF; font-family:arial;}
header .intro h1 { font-size: 2.6em; margin: 30px 0 20px 0; }
header .intro p { font-size: 1.1em; }
header .intro a { margin-bottom: 0; }
header { margin-bottom: 3em; }*/

/*untuk logo animasi*/
header .logo { cursor: pointer; }
header .logo img { display: block; margin: 26px 0 0; -webkit-transition: -webkit-transform 1s; -moz-transition: -moz-transform 1s; -o-transition: -o-transform 1s; -ms-transition: -ms-transform 1s; transition: transform 1s; }
header .logo:hover img { -webkit-transform: rotateY(360deg); -moz-transform: rotateY(360deg); -o-transform: rotateY(360deg); -ms-transform: rotateY(360deg); transform: rotateY(360deg); -webkit-transition: -webkit-transform 1s; -moz-transition: -moz-transform 1s; -o-transition: -o-transform 1s; -ms-transition: -ms-transform 1s; transition: transform 1s; }
 

h1, h2, h3, h4, h5, h6 {
    font-family: "atrament-web",Helvetica,Arial,Verdana,sans-serif;
    font-weight: 500;  
    color: #2F2F2F;
    text-transform: uppercase;
}

/*content*/

.content { padding-bottom: 0px; }
.content h2 { font-size: 2em; line-height: 1em; text-shadow: 0 1px 0 #fff; }
.content h2:first-letter { border-top: 5px solid #FB641D; padding-top: .2em; }
.content h3 { font-size: 1.5em; }
.content h4 { font-size: 1.2em; }
.content .wpcf7 { padding-bottom: 10px; }
p.deck { font-size: 1.5em; font-weight: 400; line-height: 1.2em; color: #2f2f2f; font-style: italic; }


/* About Specific */
.about .row { margin-bottom: 2em; }
.about .row:first-child { padding-bottom: 3em; margin-bottom: 2em; border-bottom: 1px solid #CCCBC9; border-bottom: 1px solid rgba(0,0,0,.2); }
/*.about img { display: block; margin: 2em auto 0; }*/
.about .animasi{margin-top: 2em;}
.about .what-i-do img { width: auto; height: 165px; }
.about .what-i-do .animasi{position: relative;display: inline-block;}
.about .what-i-love img { width: auto; height: 165px; }
.about .what-i-love .animasi{position: relative;display: inline-block;}
.about .where-i-reside img { width: auto; height: 165px; }
.about .where-i-reside .animasi{position: relative;display: inline-block;}
.about .capabilities { list-style: none; padding: 0; margin: 5em 0 0 0; }
.about .capabilities div { position: relative; background-color: #e6e4e4; padding: 4px; -webkit-border-radius: 5px; -moz-border-radius: 5px; -o-border-radius: 5px; -ms-border-radius: 5px; border-radius: 5px; /* box-shadow: 0 -1px 0 rgba(0,0,0,.2), 0 1px 0 #fff; */ margin-bottom: .75em; }
.about .capabilities div h4 { position: absolute; top: 5px; left: 1em; margin: 0; padding: 0; font-family: 'ff-tisa-web-pro', Georgia, serif; font-weight: 700; font-size: .7em; text-transform: none;  color: #cdc7c7; text-transform: uppercase; }
.about .capabilities div span { display: block; height: 1em; -webkit-border-radius: 3px; -moz-border-radius: 3px; -o-border-radius: 3px; -ms-border-radius: 3px; border-radius: 3px; background-color: #ff681f; /* background-image: linear-gradient(bottom, rgb(255,96,43) 1%, rgb(255,148,67) 100%); background-image: -o-linear-gradient(bottom, rgb(255,96,43) 1%, rgb(255,148,67) 100%); background-image: -moz-linear-gradient(bottom, rgb(255,96,43) 1%, rgb(255,148,67) 100%); background-image: -webkit-linear-gradient(bottom, rgb(255,96,43) 1%, rgb(255,148,67) 100%); background-image: -ms-linear-gradient(bottom, rgb(255,96,43) 1%, rgb(255,148,67) 100%); */ text-indent: -9999px; /* box-shadow: inset 0 1px 0 #ffd265, 0 0 0 1px #912e01 */ }
.about .capabilities div span { visibility: hidden; width: 0%; }
.about .capabilities.animate div h4 { /* text-shadow: 0 1px 0 #912e01; */ color: #fff; -webkit-transition: color linear .5s; font-weight: 700; }
.about .capabilities.animate div span { visibility: visible; -webkit-transition: width 1s ease-in-out 0; -moz-transition: width 1s ease-in-out 0; -o-transition: width 1s ease-in-out 0; -ms-transition: width 1s ease-in-out 0; transition: width 1s ease-in-out 0; }
.about .capabilities.animate div span.html-css { width: 95%; }
.about .capabilities.animate div span.responsive { width: 80%; }
.about .capabilities.animate div span.jquery { width: 60%; }
.about .capabilities.animate div span.ux-ui { width: 90%; }
.about .capabilities.animate div span.mobile { width: 90%; }
.about .capabilities.animate div span.adobe { width: 93%; }
.about .capabilities.animate div span.wordpress { width: 70%; }
.about .capabilities.animate div span.fantasy-hockey { width: 99%; }
.about .capabilities.animate div span.data-viz { width: 63%; }
.about .capabilities.animate div span.branding { width: 76%; }
.about .radar-chart { margin-top: 6em; width: 649px; height: auto; }

/* Fixed Bar */
.fixed-bar { display: none; /* background: url(imgs/bg_body-noise.png) 0 0; */ background: #fff; box-shadow: 0px 0px 1px #000; box-shadow: 0px 0px 1px rgba(0,0,0,.5); position: fixed; z-index: 999; width: 100%; opacity: .95; }
.fixed-bar .logo { display: block; /* -webkit-transition: background-color .3s linear; */ }
.fixed-bar .logo:hover { /* background-color: #f8f1f1; -webkit-transition: background-color .3s linear; */ }
.fixed-bar .logo img { display: block; margin: 0 auto; }
.fixed-bar nav ul { padding: .7em 0 0 0; }
.fixed-bar nav li { display: inline; }
.fixed-bar nav li a { color: #2f2f2f; text-decoration: none; text-transform: uppercase; margin: 0 2em 0 0; font-family: 'atrament-web', Helvetica, Arial, Verdana, sans-serif; font-weight: 500; font-size: 1.3em; font-style: normal; float: left; -webkit-transition: color .3s linear; }
.fixed-bar nav li a:hover { color: #c6c6c6; text-decoration: none; -webkit-transition: color .3s linear; }
.fixed-bar nav li.current-menu-item a, .fixed-bar nav li.current_page_parent a { color: #ff681f; }
.fixed-bar #back-to-top { float: right; margin-top: .8em; width: 15px; height: 24px; background: url(../../image/gbcpic/icon_up-arrow.png) no-repeat 0 0; text-indent: -9999px; /* ( -webkit-transition: background-position linear .3s; */ }
.fixed-bar #back-to-top:hover { background-position: 0 -24px; /* -webkit-transition: background-position linear .3s; */ }


/* Footer Specific */
footer { /* background: url(imgs/bg_footer.png); */ background: #181718; padding: 2em 0; color: #919191; }
footer h2, footer h3 { color: #fff; }
footer h2 { font-size: 2em; margin: .2em 0 .5em; }
footer h3 { font-size: 1.5em; margin: .2em 0 1em; }
footer .row:first-child { border-bottom: 1px solid #222222; border-bottom: 1px solid rgba(255,255,255,.1); margin-bottom: .4em; padding-bottom: 1em; }
footer .social { padding: 0; }
footer .social li { display: inline; }
footer .social li a { float: left; margin-right: 1em; width: 90px; height: 90px; text-indent: -9999px; background-repeat: no-repeat; }
footer .social li:last-child a { margin-right: 0; }
footer .social li a:hover { background-position: 0 -90px; }
footer .social .twitter { background-image: url(../../image/gbcpic/sprite_twitter.png); }
footer .social .google-plus { background-image: url(../../image/gbcpic/sprite_google-plus.png); }
footer .social .forrst { background-image: url(../../image/gbcpic/sprite_forrst.png); }
footer .social .pinterest { background-image: url(../../image/gbcpic/sprite_pinterest.png); }
footer .social .facebook { background-image: url(../../image/gbcpic/sprite_facebook.png); }
footer .social .dribbble { background-image: url(../../image/gbcpic/sprite_dribbble.png); }


article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }

::-moz-selection { background: #FF853C; color: #fff; text-shadow: none; }

.about .last{
    margin-right: 0px;
}
.container .colophon{
    margin-right: 0px;
}

.container .last{
    margin-right: 0px;
}
.container .pakethome{
    margin-right: 4px;
}
.splash .navto img{
    display: none;
}

/*=====responsive======================*/
/*for tablet*/
@media only screen and (max-width: 1023px) {

	body {
	font-size: 0.9em;
	/* line-height: 1.6em; */
	}
	/* Fixed Bar */
	.fixed-bar nav ul { padding: 3.1% 0 0 0; }
	.fixed-bar nav ul li a { font-size: 1.3em; }
	.fixed-bar #back-to-top { margin-top: 5%; }
}

@media handheld, only screen and (max-width: 767px) {

/*	body {
	font-size: 16px;
	font-size: .85em;
	 font-size: 0.em;
	line-height: 1.5em; 
	-webkit-text-size-adjust: none;
	}*/
	
	.row, body, .container {
	width: 100%;
	min-width: 0;
	margin-left: 0px;
	margin-right: 0px;
	padding-left: 0px;
	padding-right: 0px;
	}/*
	
*/	.row .onecol, .row .twocol, .row .threecol, .row .fourcol, .row .fivecol, .row .sixcol, .row .sevencol, .row .eightcol, .row .ninecol, .row .tencol, .row .elevencol, .row .twelvecol {
	width: auto;
	float: none;
	margin-left: 0px;
	margin-right: 0px;
	padding-left: 20px;
	padding-right: 20px;
	}

}
/*mobile version*/
@media handheld, only screen and (max-width: 767px) {

/*	 Header Specific */
	 header .splash { background: linear-gradient(rgba(39, 39, 38, 0.8), rgba(39, 39, 38, 0.8)), url(imgs/bg_header-home_v3.jpg) fixed no-repeat; } 
	header { margin-bottom: 1em; }
	header .splash { background-image: linear-gradient(rgba(245, 15, 15, 0.8), rgba(138, 76, 138, 0.8)) , url(imgs/bg_header-home_v2.jpg); -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover;  background-attachment: scroll; background-position-x: 60%; }
	header#page-error { background-position-x: 66%; height: 550px; }
	header#page-error .logo { display: none; }
	header .logo img { width: 152px; height: 170px; margin: 20px auto 0 auto; }
	header nav { margin: 20px 0 0 0; }
	header nav ul { border-bottom: 1px solid #2f2f2f; border-bottom: 1px solid rgba(0,0,0,.4); text-align: center; }
	header .splash .nav ul { border-bottom: 1px solid #fff; border-bottom: 1px solid rgba(255,255,255,.4); text-align: center; }
	 header nav ul:first-child li, header nav ul:last-child li { margin: 0; } 
	header nav ul li a, header.splash nav ul li a { font-size: 1.5em; padding: .4em .5em .5em .5em; }
	header nav ul li:last-child a { padding-right: .5em; }
	header nav li a:hover, header.splash nav li a:hover { padding-top: .4em; }
	 header nav li:last-child a { padding-right: 0; border-right: none; } 
	header .intro { text-align: center; }
	header .intro h1 { font-size: 2.6em; margin: 30px 0 20px 0; }
	header .intro p { font-size: 1.1em; }
	header .intro a { margin-bottom: 0; }
        header nav ul{
            border-bottom: none;
        }
/*         Fixed Bar 	*/
	.fixed-bar .row > div:first-child { display: none; }
	.fixed-bar .row { padding: .7em 0; }
	.fixed-bar nav ul { padding: 0; margin-top: 0; }
	.fixed-bar nav ul li a { font-size: 1.3em; margin-right: 1em; }
	.fixed-bar #back-to-top { margin-top: 0; }
        .fixed-bar .logo img{display: none;}
        
        .container .main-nav .twocol .logo img{
            position: absolute;
           
        }

}


@media handheld, only screen and (max-width: 496px) {

/*	 Header Specific */
    header { margin-bottom: 1em; }
   .splash .navto img{
        position: relative;
        top:0px;
        left: 0px;
        cursor: pointer;
        display: block;

    }
    .navto .listtoogle{
        border: 3px solid;
        padding: 2px;
            border-color: #333;
    }
    .navto .listtoogle:hover{
      background-color: #333;
        
    }
    .nav{
        padding:0px;
        background: red;
        position: relative;
        top: -190px;
        left: 0px;
    }
    div.tencol.navigation{
        padding: 0px;
        display: none;
    /*    visibility: hidden;*/

    }

    header .nav ul li{
        padding: 0px;
        display: block;
        padding: 10px;
    }
    header .splash .nav ul {
        padding-left: 0px;
        text-align: left;
    /*    margin-left: 20px;*/
    }

    .splash .navcollapse{content: "hai";background: blue}
    header .nav ul li{ display: block;font-size: 1em;}

}
/* ==|== Custom CSS3 Animations =============================================
   These styles are for progressively enhanced animations throuhgout the site
   ========================================================================== */

@-webkit-keyframes comment-author {
    0% { box-shadow: 0 0 0 0 #ff681f; }	
    100% { box-shadow: 0 0 5px 5px #ff681f; }
}
@-moz-keyframes comment-author {
    0% { -moz-transform: scale(1); }	
	50% { -moz-transform: scale(1.1); }
    100% { -moz-transform: scale(1); }
}
@-ms-keyframes comment-author {
    0% { -ms-transform: scale(1); }	
	50% { -ms-transform: scale(1.1); }
    100% { -ms-transform: scale(1); }
}
@-o-keyframes comment-author {
    0% { -o-transform: scale(1); }	
	50% { -o-transform: scale(1.1); }
    100% { -o-transform: scale(1); }
}
@keyframes comment-author {
    0% { transform: scale(1); }	
	50% { transform: scale(1.1); }
    100% { transform: scale(1); }
}

.about .gbcprofile img{
    width: auto;
    height: 341px;
    
}
.newshighlight .last {
   margin-right: 0px;
}
.newshighlight h2::first-letter{
    border-top: 5px solid #FB641D;
    padding-top: 0.2em;
}
.newshighlight h2{
    font-size: 2em;
    margin-bottom: 10px;
}
h1.pagetitle{
    border-bottom: 1px solid rgba(0,0,0,0.2)
}
h1.pagetitle:hover{
   color: #FF853C;
}
h2.subtitle{
    font-size: 24px;
    color: #595959;
    font-weight: 300;
}
.newshighlight{
    background: #ebebeb;

}
.colophon h4{
    color: #F17142;
    font-style: italic;
} 

.post .isipost{
    margin-top: 20px;
   text-align: justify;
}
.post .isipost .price_style1{
   color :#F17142;
   font-weight: bold;
}
.post .isipost .price_style1 ul li{
    color: black;
}
.post .isipost .excludepaket{
    position: relative;
    top:-88px;
    left: 247px;
}
.post .isipost .note{
    color :black;
    font-weight: bold;
    font-style: italic;
   position: relative;
    top:-65px;
    left: 0px;
}
.boat-image .hoverBorderWrapper img.shadow.kotak {
    width: 260px;
    height: 166px;
}
/*bootstrap overloading*/
/*.btn-success:hover{
    color: #FFF;
    background-color: #F17142;
    border-color: #F17142;
}
.btn-success[disabled]{
    background-color:#181718; 
}*/
 

.row .newcolom{
    width: 21.75%
}

.newimage-boxes img {
    width: 250px;
    height: 250px;
}
.container .main-nav .twocol .logo img{
    position: relative;
    top:20px;
    left: 450px;
}